body {
    background-color: olivedrab;
}

h1 {
    text-align: center;
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    width: 100%;
}

.pic-container {
    border: 5px solid olive;
    width: 70%;
    height: 450px;
    margin: auto;
    border-radius: 30px;
    overflow: hidden;

}

.buttons {
    display: flex;
    justify-content: center;
    margin: 10px;
}

#button-1 {
    margin: 10px;
    font-size: 2rem;
    color: white;
    background-color: rgb(33, 228, 15);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 0px black;
    }

#button-2 {

    margin: 10px;
    font-size: 2rem;
    color: white;
    background-color: rgb(33, 228, 15);
    padding: 10px;
    box-shadow: 5px 5px 10px 0px black;
    
    border-radius: 5px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}